[user]
	name = Olaolu Olawuyi
	email = mrolaolu@gmail.com

[web]
	browser = google-chrome

[alias]
  a = add --all
  am = commit --amend
  b = branch
	c = commit -am
  cl = clone
	cld = clone --depth 1

  # Show the diff between the latest commit and the current state
	d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"

  f = fetch
	fo = fetch origin
	fu = fetch upstream
	pl = pull
	pla = pull --all
	p = push
	pa = push --all
	s = status
	sclone = clone --depth=1
	co = checkout
  dl = branch --delete
	df = diff --color --color-words --abbrev
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --

  m = merge
	ma = merge --abort
	mc = merge --continue
	ms = merge --skip

	reup = rebase-update # depot_tools specific

[core]
  editor = "nano"
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	fileMode = false

[pager]
	# insanely beautiful diffs ==> npm install -g diff-so-fancy
	diff = diff-so-fancy | less --tabs=2 -RFX
	show = diff-so-fancy | less --tabs=2 -RFX

[interactive]
	diffFilter = "diff-so-fancy"

# so much color
[color]
	ui = always
[color "diff"]
	meta = yellow bold
	commit = green bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = "red bold 52"
	newNormal = "green bold"
	newHighlight = "green bold 22"
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "status"]
	added = yellow
	changed = green
	untracked = cyan

# git mergetool
[merge]
	tool = opendiff

[url "git://github.com/"]
	insteadOf = "github:"

[url "git@gist.github.com:"]
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]
	insteadOf = "gist:"

# correct typos
[help]
	autocorrect = 1

# push easily. http://stackoverflow.com/a/23918418/89484
[push]
	default = current

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

[fetch]
	prune = true

[diff]
	compactionHeuristic = true

[credential]
	helper = store

[credential "https://github.com"]
	username = whizkydee

[credential "https://gitlab.com"]
	username = mrolaolu
