"*":
  "Remote-FTP":
    autoUploadOnSave: "never"
    showViewOnStartup: false
  "activate-power-mode":
    autoToggle: false
    particles:
      spawnCount:
        max: 35
        min: 20
    plugins:
      playAudio: true
      screenShake: true
    screenShake:
      enabled: false
  "advanced-open-file":
    createDirectories: true
    createFileInstantly: true
    helmDirSwitch: true
  "atom-autocomplete-php":
    binPhp: "C:\\xampp\\php\\php.exe"
  "atom-beautify":
    general:
      _analyticsUserId: "PLACE_YOURS_HERE"
      analytics: false
      beautifyEntireFileOnSave: false
      muteAllErrors: true
  "atom-clock":
    dateFormat: "ddd h:mm a"
  "atom-material-ui":
    colors:
      abaseColor: "#7e57c2"
      paintCursor: true
      predefinedColor: "Purple"
    tabs:
      compactTabs: true
      noTabMinWidth: true
    treeView:
      blendTabs: true
      compactList: false
    ui:
      panelShadows: true
  "autoclose-html":
    forceInline: [
      "title"
      "h1"
      "h2"
      "h3"
      "h4"
      "h5"
      "h6"
      "p"
    ]
  "autocomplete-emojis":
    enableUnicodeEmojis: false
  autosave:
    enabled: true
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "tool-bar-main"
      "project-manager"
      "atom-beautify"
      "Remote-FTP"
      "atom-autocomplete-php"
      "autocomplete-json"
      "language-babel"
      "advanced-open-file"
      "atom-typescript"
      "language-javascript-jsx"
      "language-lua"
      "language-swift"
      "wordpress-api"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".sass-cache"
      "_site"
      "node_modules"
    ]
    openEmptyEditorOnStart: false
    projectHome: "C:\\Users\\Olaoluwa\\GitHub"
    reopenProjectMenuCount: 20
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "material-palenight-syntax"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "\"Fira Code\", \"Ubuntu Mono\", \"Source Code Pro\", Consolas"
    fontSize: 15
    invisibles:
      tab: "."
    lineHeight: 1.56
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabType: "soft"
    undoGroupingInterval: 100
    useShadowDOM: false
  "exception-reporting":
    userId: "PLACE_YOURS_HERE"
  "file-icons":
    colourChangedOnly: false
  "find-and-replace":
    scrollToResultOnLiveSearch: true
  "fuzzy-finder":
    preserveLastSearch: true
  "git-plus":
    gitPath: "C:\\Program Files\\Git\\git-bash.exe"
  "language-babel":
    autoIndentJSX: true
  "line-ending-converter":
    showEolInStatusBar: false
  "linter-jshint":
    lintInlineJavaScript: true
    lintJSXFiles: true
  "linter-ui-default":
    panelHeight: 81
  "markdown-preview":
    useGitHubStyle: true
  "markdown-writer":
    fileExtension: ".markdown, .md"
  minimap:
    plugins:
      pigments: true
      pigmentsDecorationsZIndex: 0
  "one-dark-ui":
    hideDockButtons: true
    tabSizing: "Minimum"
  "one-light-ui":
    hideDockButtons: true
  pigments:
    autocompleteSuggestionsFromValue: true
    extendAutocompleteToColorValue: true
    extendAutocompleteToVariables: true
  "pristine-ui":
    tabSizing: "Minimum"
  qolor:
    fourBorders: true
  "screen-recorder":
    reduceOutput: false
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
    syncHorizontalScroll: true
  "sync-settings":
    _lastBackupHash: "PLACE_YOURS_HERE"
    analytics: false
    gistId: "PLACE_YOURS_HERE"
    personalAccessToken: "PLACE_YOURS_HERE"
    quietUpdateCheck: true
  "tree-view":
    alwaysOpenExisting: true
    focusOnReveal: false
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "w3c-validation":
    hideOnNoErrors: true
    validateOnSave: false
  wakatime:
    apikey: "Enter your api key..."
  "wakatime-hidden":
    lastInit: 1493209717
  welcome:
    showOnStartup: false
  zentabs:
    neverCloseUnsaved: true
