/* Styles by Olaolu */

atom-panel.tool-panel {
  font-size: 0.88em;
}

atom-text-editor {
  -webkit-font-feature-settings: "liga" off, "calt" off;
  text-rendering: optimizeLegibility;
  font-weight: normal;
  line-height: 1.7;

  .string.quoted,
  .string.regexp {
    -webkit-font-feature-settings: "liga" off, "calt" off;
  }
  .string.unquoted.js {
    color: #CDD3DE;
  }
}

// Font Config
.syntax--operator,
.syntax--type.syntax--function.syntax--arrow,
.syntax--punctuation.syntax--comment {
  font-family: "Fira Code";
}
.syntax--curly,
.syntax--entity.syntax--other.syntax--attribute-name,
.syntax--source.syntax--js.syntax--jsx > .syntax--keyword.syntax--control.syntax--flow.syntax--js,
.syntax--storage, .syntax--type .syntax--function,
.syntax--entity.syntax--other.syntax--attribute-name,
.syntax--type.syntax--function,
.syntax--storage.syntax--type.syntax--class,
.syntax--type.syntax--var,
.syntax--meta.syntax--parameters,
.syntax--keyword.syntax--control,
.syntax--modifier,
.syntax--comment {
  font-size: 1em;
  font-family: "Operator Mono Light";
  font-style: italic;
}

.theme-atom-material-ui {
  .overlay,
  atom-panel.modal {
    margin-left: -300px;
    width: 650px;
  }

  .tab-bar .tab {
    // max-width: 15rem;
    text-align: center;
    &.active {
      //  min-width: 15rem;
    }
  }

  [is='atom-tabs'] {
    [is='tabs-tab'] .title {
      &:before {
        margin-right: .3rem;
      }
      & .icon-tools {
        &:before {
          font-size: 14px;
        }
      }
    }
  }
  atom-text-editor {
    margin: 3px auto;
  }

  atom-panel-container.footer {
    [is='status-bar-git'] {
      .git-status {
        color: #e3b93c;
      }
    }
  }
}

// Styles for caniuse Package
.caniuse-view.select-list {
  table {
    td.is-unsupported {
      background-color: #C44230;
    }
    td.is-supported {
      background-color: #39b54a;
    }
    td.is-almost-supported {
      background-color: #A8BD04;
    }
  }
}
